html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  height: 100vh;
  background:#fcc0a9;
}
  
  button2 {
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  
  button2 {
    background: none;
    color: rgb(78, 76, 76);
    width: 240px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
  }
  button2:focus {
    outline: none;
  }
  
  button2:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
  }
  button2:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
  }
  button2:hover {
    background: #338033;
    cursor: pointer;
  }
  button2:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
  }
  button2:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }

  /*-------- button3 -----------*/
  button3 {
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  
  button3 {
    background: none;
    color: #ccc;
    width: 240px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
  }
  button3:focus {
    outline: none;
  }
  
  button3:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-130px) skewX(-15deg);
  }
  button3:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translate(-100px) skewX(-15deg);
  }
  button3:hover {
    background: #338033;
    cursor: pointer;
  }
  button3:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: .7s;
  }
  button3:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
  }